In [1]:
%config Completer.use_jedi = False
from datetime import datetime, timedelta
import pandas as pd
from sqlalchemy import create_engine
from config import *

In [2]:
# Store company csv into data frame
company_csv = "../resources/Company.csv"
company_df = pd.read_csv(company_csv)
# reset the df index and change the original index column name to "ID"
company_index=company_df.reset_index()
company_index=company_index.rename(columns={"index":"id"})
company_index

   id ticker_symbol company_name
0   0          AAPL        apple
1   1          GOOG   Google Inc
2   2         GOOGL   Google Inc
3   3          AMZN   Amazon.com
4   4          TSLA    Tesla Inc
5   5          MSFT    Microsoft

In [3]:
# Store tweet csv into data frame
tweet_csv = "../resources/Tweet.csv"
tweet_df = pd.read_csv(tweet_csv)
# drop the writer column
tweet_df=tweet_df[["tweet_id","post_date","body","comment_num","retweet_num","like_num"]]
tweet_df.head()

,tweet_id,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [4]:
# Unix epoch start time
start = datetime(1970, 1, 1)  
# convert datetime to a more readable format
tweet_df['datetime'] =tweet_df.post_date.apply(lambda x: start + timedelta(seconds=x))
tweet_df_new=tweet_df[["tweet_id","body","comment_num","retweet_num","like_num","datetime"]]
tweet_df_new.tail(10)

,tweet_id,body,comment_num,retweet_num,like_num,datetime
3717954,1212159099632267268,$TSLA Very Interesting dude:,0,0,0,2019-12-31 23:50:24
3717955,1212159132758728704,$goog closes at 1337. Someone has a sense of ...,0,0,1,2019-12-31 23:50:32
3717956,1212159184931717120,If only 2020 brought more self-awareness to Te...,0,1,0,2019-12-31 23:50:45
3717957,1212159254884433921,Imagine calling your broker-dealer and wanting...,1,0,1,2019-12-31 23:51:01
3717958,1212159275637886976,"$AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...",0,0,1,2019-12-31 23:51:06
3717959,1212159765914079234,That $SPY $SPX puuump in the last hour was the...,1,0,6,2019-12-31 23:53:03
3717960,1212159838882533376,In 2020 I may start Tweeting out positive news...,0,0,1,2019-12-31 23:53:21
3717961,1212160015332728833,Patiently Waiting for the no twitter sitter tw...,0,0,5,2019-12-31 23:54:03
3717962,1212160410692046849,I don't discriminate. I own both $aapl and $ms...,1,0,1,2019-12-31 23:55:37
3717963,1212160477159206912,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,2019-12-31 23:55:53

In [5]:
# Store company tweet csv into data frame
company_tweet = "../resources/Company_Tweet.csv"
company_tweet = pd.read_csv(company_tweet)
# reset the df index and change the original index column name to "ID"
tweet_index=company_tweet.reset_index()
tweet_index=tweet_index.rename(columns={"index":"id"})
tweet_index

              id             tweet_id ticker_symbol
0              0   550803612197457920          AAPL
1              1   550803610825928706          AAPL
2              2   550803225113157632          AAPL
3              3   550802957370159104          AAPL
4              4   550802855129382912          AAPL
...          ...                  ...           ...
4336440  4336440  1212158772015034369          TSLA
4336441  4336441  1212159099632267268          TSLA
4336442  4336442  1212159184931717120          TSLA
4336443  4336443  1212159838882533376          TSLA
4336444  4336444  1212160015332728833          TSLA

[4336445 rows x 3 columns]

In [6]:
# connect to local database
rds_connection_string = "{}:{}@localhost:5432/company_tweets".format(username,password)

engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
# check table names
engine.table_names()

['tweet_df_new', 'company_index', 'tweet_index']

In [8]:
# Use pandas to load csv converted DataFrame into database table name company_index
company_index.to_sql(name='company_index', con=engine, if_exists='append', index=False)

In [11]:
# Use pandas to load csv converted DataFrame into database table name tweet_df_new
tweet_df_new.to_sql(name='tweet_df_new', con=engine, if_exists='append', index=False)

In [12]:
# Use pandas to load csv converted DataFrame into database table name tweet_index
tweet_index.to_sql(name='tweet_index', con=engine, if_exists='append', index=False)