In [1]:
%config Completer.use_jedi = False

import pandas as pd
from sqlalchemy import create_engine
from config import *

In [2]:
# Store company csv into data frame
company_csv = "../resources/Company.csv"
company_df = pd.read_csv(company_csv)
company_df.head()

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc

In [3]:
# Store tweet csv into data frame
tweet_csv = "../resources/Tweet.csv"
tweet_df = pd.read_csv(tweet_csv)
tweet_df.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [4]:
# Store company tweet csv into data frame
company_tweet = "../resources/Company_Tweet.csv"
company_tweet = pd.read_csv(company_tweet)
company_tweet.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [5]:
# connect to local database
rds_connection_string = "{}:{}@localhost:5432/company_tweets".format(username,password)

engine = create_engine(f'postgresql://{rds_connection_string}')

In [6]:
# check table names
engine.table_names()

['tweet_df', 'company_tweet', 'company_df']

In [10]:
# Use pandas to load csv converted DataFrame into database
company_df.to_sql(name='company_df', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_df_pkey"
DETAIL:  Key (ticker_symbol)=(AAPL) already exists.

[SQL: INSERT INTO company_df (ticker_symbol, company_name) VALUES (%(ticker_symbol)s, %(company_name)s)]
[parameters: ({'ticker_symbol': 'AAPL', 'company_name': 'apple'}, {'ticker_symbol': 'GOOG', 'company_name': 'Google Inc'}, {'ticker_symbol': 'GOOGL', 'company_name': 'Google Inc'}, {'ticker_symbol': 'AMZN', 'company_name': 'Amazon.com'}, {'ticker_symbol': 'TSLA', 'company_name': 'Tesla Inc'}, {'ticker_symbol': 'MSFT', 'company_name': 'Microsoft'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [8]:
# Use pandas to load csv converted DataFrame into database
tweet_df.to_sql(name='tweet_df', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO tweet_df (tweet_id, writer, post_date, body, comment_num, retweet_num, like_num) VALUES (%(tweet_id)s, %(writer)s, %(post_date)s, %(body)s, %(comment_num)s, %(retweet_num)s, %(like_num)s)]
[parameters: ({'tweet_id': 550441509175443456, 'writer': 'VisualStockRSRC', 'post_date': 1420070457, 'body': 'lx21 made $10,008  on $AAPL -Check it out! http://profit.ly/1MnD8s?aff=202 Learn #howtotrade http://bit.ly/1c1NljX $EXE $WATT $IMRS $CACH $GMO', 'comment_num': 0, 'retweet_num': 0, 'like_num': 1}, {'tweet_id': 550441672312512512, 'writer': 'KeralaGuy77', 'post_date': 1420070496, 'body': 'Insanity of today weirdo massive selling. $aapl bid up 45 cents after hours after non stop selling in trading hours', 'comment_num': 0, 'retweet_num': 0, 'like_num': 0}, {'tweet_id': 550441732014223360, 'writer': 'DozenStocks', 'post_date': 1420070510, 'body': 'S&P100 #Stocks Performance $HD $LOW $SBUX $TGT $DVN $IBM $AMZN $F $APA $GM $MS $HAL $DIS $MCD $BMY $XOM  more@ http://12Stocks.com/sp100', 'comment_num': 0, 'retweet_num': 0, 'like_num': 0}, {'tweet_id': 550442977802207232, 'writer': 'ShowDreamCar', 'post_date': 1420070807, 'body': '$GM $TSLA: Volkswagen Pushes 2014 Record Recall Tally Higher https://pic.twitter.com/WIIc1lW7hW @ProTradersNews http://growword.com/2015/01/01/0246.html… @theferrarifan', 'comment_num': 0, 'retweet_num': 0, 'like_num': 1}, {'tweet_id': 550443807834402816, 'writer': 'i_Know_First', 'post_date': 1420071005, 'body': 'Swing Trading: Up To 8.91% Return In 14 Days http://ow.ly/GDks0 #swingtrading #forecast #techstock $MWW $AAPL $TSLA', 'comment_num': 0, 'retweet_num': 0, 'like_num': 1}, {'tweet_id': 550443808606126081, 'writer': 'aaplstocknews', 'post_date': 1420071005, 'body': 'Swing Trading: Up To 8.91% Return In 14 Days http://ow.ly/GDkrL #swingtrading #forecast #techstock $MWW $AAPL $TSLA', 'comment_num': 0, 'retweet_num': 0, 'like_num': 1}, {'tweet_id': 550443809700851716, 'writer': 'iknowfirst', 'post_date': 1420071005, 'body': 'Swing Trading: Up To 8.91% Return In 14 Days http://ow.ly/GDkrW #swingtrading #forecast #techstock $MWW $AAPL $TSLA', 'comment_num': 0, 'retweet_num': 0, 'like_num': 1}, {'tweet_id': 550443857142611968, 'writer': 'Cprediction', 'post_date': 1420071016, 'body': 'Swing Trading: Up To 8.91% Return In 14 Days http://ow.ly/GDkrN #swingtrading #forecast #techstock $MWW $AAPL $TSLA', 'comment_num': 0, 'retweet_num': 0, 'like_num': 1}  ... displaying 10 of 3717964 total bound parameter sets ...  {'tweet_id': 1212160410692046849, 'writer': 'MoriaCrypto', 'post_date': 1577836537, 'body': "I don't discriminate. I own both $aapl and $msft. ", 'comment_num': 1, 'retweet_num': 0, 'like_num': 1}, {'tweet_id': 1212160477159206912, 'writer': 'treabase', 'post_date': 1577836553, 'body': '$AAPL #patent 10,522,475 Vertical interconnects for self shielded system in package (SiP) modules #tech #IP #research http://trea.com/doc/10522475', 'comment_num': 0, 'retweet_num': 0, 'like_num': 0})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)

In [9]:
# Use pandas to load csv converted DataFrame into database
company_tweet.to_sql(name='company_tweet', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO company_tweet (tweet_id, ticker_symbol) VALUES (%(tweet_id)s, %(ticker_symbol)s)]
[parameters: ({'tweet_id': 550803612197457920, 'ticker_symbol': 'AAPL'}, {'tweet_id': 550803610825928706, 'ticker_symbol': 'AAPL'}, {'tweet_id': 550803225113157632, 'ticker_symbol': 'AAPL'}, {'tweet_id': 550802957370159104, 'ticker_symbol': 'AAPL'}, {'tweet_id': 550802855129382912, 'ticker_symbol': 'AAPL'}, {'tweet_id': 550802745737768960, 'ticker_symbol': 'AAPL'}, {'tweet_id': 550797494188142592, 'ticker_symbol': 'AAPL'}, {'tweet_id': 550797275786518528, 'ticker_symbol': 'AAPL'}  ... displaying 10 of 4336445 total bound parameter sets ...  {'tweet_id': 1212159838882533376, 'ticker_symbol': 'TSLA'}, {'tweet_id': 1212160015332728833, 'ticker_symbol': 'TSLA'})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)